@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #A4BABF, #5D9EA6);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #233d4194;
    width: 600px;
    padding: 10px;
    margin: 30px auto;
}

h1 {
    color: #BFA07A;
    text-align: center;
    text-shadow: 1px 1px 2px #696304;
}

h2 {
    color: #8C8303;
}

p {
    text-align: justify;
}

